pandas
pdfminer.six
sweetviz
chardet
chardet2
matplotlib
matplotlib-inline
nltk
spacy
gensim
openai
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
scikit-learn
numpy
gunicorn
werkzeug
uvicorn